.list-component {
    .title {
        margin: 5px 0;
        font-size: 20px;
    }

    table {
        display: block;
        margin: 20px 0;
        text-align: left;

        thead {
            display: block;

            tr {
                display: flex;
                flex-direction: row;

                th {
                    flex: 1;
                    padding: 10px;
                    color: white;
                    background-color: #0a84ff;
                }
            }
        }

        tbody {
            display: block;

            tr {
                display: flex;
                flex-direction: row;
                border-bottom: solid 1px lightgray;
    
                td {
                    flex: 1;
                    padding: 10px;

                    .not-selected {
                        display: block;
                        position: relative;
                        width: 20px;
                        height: 20px;
            
                        &:before, &:after {
                            position: absolute;
                            left: 9px;
                            content: ' ';
                            height: 20px;
                            width: 4px;
                            background-color: red;
                        }
            
                        &:before {
                            transform: rotate(45deg);
                        }
            
                        &:after {
                            transform: rotate(-45deg);
                        }
                    }

                    .selected {
                        position: relative;
                        display: inline-block;
                        width: 20px;
                        height: 20px;

                        &:before, &:after {
                            position: absolute;
                            left: 0;
                            content: "";
                            transform: translateX(10px) rotate(-45deg);
                            transform-origin: left bottom;
                            background-color: #0a84ff;
                        }

                        &:before {
                            top: 50%;
                            height: 50%;
                            width: 4px;
                        }
            
                        &:after {
                            bottom: 0;
                            height: 4px;
                            width: 100%;
                        }
                    }
                }

                .remove-td {
                    display: flex;
                    justify-content: flex-end;

                    .remove {
                        background-color: red;
                        border-radius: 2px;
                        color: white;
                        cursor: pointer;

                        &:before, &:after {
                            background-color: white;
                            margin-left: -1px;
                        }
                    }

                    .edit-span {
                        height: 20px;
                        width: 20px;
                        margin-right: 10px;
                        border-radius: 2px;
                        background-color: #ffcc00;
                        cursor: pointer;

                        .edit {
                            color: white;
                            position: absolute;
                            margin-left: 4px;
                            margin-top: 7px;
                            width: 14px;
                            height: 2px;
                            border-radius: 1px;
                            border: solid 1px currentColor;
                            -webkit-transform: rotate(-45deg);
                            transform: rotate(-45deg);

                            &:before {
                                content: '';
                                position: absolute;
                                left: -12px;
                                top: -1px;
                                width: 0px;
                                height: 0px;
                                border-left: solid 5px transparent;
                                border-right: solid 5px currentColor;
                                border-top: solid 2px transparent;
                                border-bottom: solid 2px transparent;
                            }
                        }
                    }                    
                }

                .list-file-name {
                    display: block;
                }
            }
        }
    }
}
